.content{
  width: 660px;
  margin: 0 auto;
  >.title-image{
    margin: 20px 0;
    >img{
      width: 100%;
    }
  }
  >.title{
    font-size: 32px;
    line-height: 1.3;
    font-weight: 700;
  }
  >.info{
    margin-top: 18px;
    .author{
      line-height: 36px;
      >.avatar{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 8px;
        vertical-align: bottom;
      }
    }
    .time{
      color: #777;
      margin-left: 20px;
    }
  }
  >.body{
    margin-top: 20px;
    img{
      max-width: 100%;
    }
  }
}